<!-- <h1>Angular</h1> -->

<!-- <courses></courses> -->

<!-- <directives></directives> -->

<!-- <app-dependency-injection></app-dependency-injection> -->

<!-- <services></services> -->

<!-- <properties></properties> -->

<!-- <app-bootstrap-demo></app-bootstrap-demo> -->

<!-- <app-eventbinding></app-eventbinding> -->

<!-- <app-eventfiltering></app-eventfiltering> -->

<!-- <app-templatevariable></app-templatevariable> -->

<!-- <app-twowaybinding></app-twowaybinding> -->

<!-- <app-pipes></app-pipes> -->

<!-- <assignment2-favourite-component></assignment2-favourite-component> -->

<!-- <app-assignment3-title-casing></app-assignment3-title-casing> -->



<!-- -------------------Reusable Components Start----------------------------->
<!-- Input Properties -->
<!-- <app-reusable-components [isFavorite]="post.isFavorite"></app-reusable-components> -->
<!-- Input Properties -->

<!-- Aliasing Input Properties -->
<!-- <app-reusable-components [is-Favorite]="post.isFavorite"></app-reusable-components> -->
<!-- Aliasing Input Properties -->

<!-- Output Properties -->
<!-- <app-reusable-components [is-Favorite]="post.isFavorite" (change)="onFavoriteChanged()"></app-reusable-components> -->
<!-- Output Properties -->

<!-- Passing Event data, $event we need to pass as it is dealing with custom event. Its a builtin in angular. -->
<!-- <app-reusable-components [is-Favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-reusable-components> -->
<!-- Passing Event data -->
<!-- -------------------Reusable Components End----------------------------->


<!-- <app-assignment4-like-component [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-assignment4-like-component> -->


<!-- <app-directives-component></app-directives-component> -->

<!-- ------------------- Custom Directives Start----------------------------->
<!-- Use Custom Directives to get more control on the behavior of DOM element, can pass data to directives using input properties -->
<!-- Example 1 -->
<!-- <input type="text" appInputFormat> -->

<!-- Example 2 : Use selector as attribute binding -->
<!-- We are using attribute binding same name as input field aliase name. Use this technique if we have one input ptoperty -->
<!-- <input type="text" [appInputFormat]="'lowercase'"> -->
<!-- ------------------- Custom Directives End----------------------------->


<!-- ------------------- Assignment 5-zippy Start----------------------------->
<!-- <app-assignment5-zippy title="Shipping Details">
    Shipping Details Content
</app-assignment5-zippy> -->
<!-- ------------------- Assignment 5-zippy End----------------------------->


<!-- <app-contact-form></app-contact-form> -->

<app-assignment6-course-form></app-assignment6-course-form>